
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";
@import "variable";

/* @import "header";
@import "toolbar";
@import "formula";
@import "table";
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


.app__chat {
    position: relative;
    align-content: center;
   
}

.app__chat__header{
    border: 1px solid darkseagreen;
    background-color: springgreen;
    width: $app-width+$app-width;
    padding: 5px;
    text-align: center;
    p{
        font-size: 22px;
        color:black;
    }
     

}
.app__chat__user{
    border: 1px solid springgreen;
    width: $app-width;
    padding: 10px;
    font-size: 15px;
}
