
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";
@import "variable";
@import "login";
@import "usersList";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


.app__chat {
    top:30px;
    position: relative;
    display: flex;
    justify-content: center;
   
}
.app__chat__cont{
    position: absolute;
    height: 100%;
}
.app__chat__header{
    border: 1px solid darkseagreen;
    background-color: springgreen;
    width: $app-width+$app-width;
    padding: 5px;
    text-align: center;
    p{
        font-size: 22px;
        color:black;
    }
     

}
.app__chat__text{
    border-top: 1px solid springgreen;
    overflow-y: auto;
    width: calc(#{$app-width} - #{$delta-w});
    height: 260px;
    font-size: 18px;
    padding: 5px;
    scroll-snap-type: y mandatory;
}
.app__chat__footer{
    border-top: 1px solid springgreen;
    padding: 10px;
    width:100%;
    height: 60px;
}
.app__chat__user{
    border: 1px solid springgreen;
    width: $app-width;
    height: $app-height;
    padding: 10px;
    font-size: 15px;
   
}
